<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Updates!</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <!-- <link rel="stylesheet" href="static/style.css" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">

</head>
<body>


    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Yeh website Nikhil aur Abhishek ne mil k bnai h, hum NIT Raipur k students h, life m aage bda aadmi bnne k liye ye choti si shuruwat ki h humne. Agr appko bhi koi website bnvani ho to contact us m diye gye form se humse sampark kree. 
            </p>
            <div class="skills">
                <ul>
                    <li>html & css</li>
                    <li>particle js</li>
                    <li>Django</li>
                    <li>plotly (python-data-viz)</li>
                    <li>heroku-deployment</li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>