<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styledata.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/style3.css' %}" type="text/css"> -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Terminal+Dosis" />



    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>Graphs</title>
</head>

<body style="overflow-x: hidden;">
    <style>
        .nvbari{
            display: flex;
            flex-wrap: nowrap;
            background: black;
        }
        .paris{
            margin: 10px;
            width: 80px;
            height: 35px;
            border-radius: 10px;
            background: rgb(231, 225, 215);
        }

    </style>

    <div class="menu-bar">


        <div class="nvbari">

            <a href="{% url 'index' %}"><button class="paris">Home</button></a>
            <!-- <p class="paris"><a href="{% url 'data' %}">Data</a></p>
            <p class="paris"><a href="{% url 'contact' %}">Contact Us</a></p>
            <p class="paris"><a href="{% url 'about' %}">About Us</a></p> -->

        </div>















    <div class="belownav" style="background-color: black;">

    <br>
    <br>
    <br>
        <div class="casesdata" style="color: blanchedalmond;">
            <div class="cases confirmed" style="box-shadow: 3px 3px 2px grey; ">
                <h4 style="margin-bottom:10px;">Confirmed</h4>
                <p style="margin-bottom:10px;">{{ posts.confirmed }}</p>
            </div>
            <div class="cases deaths" style="box-shadow: 3px 3px 2px grey;">
                <h4 style="margin-bottom:10px;">Deaths</h4>
                <p style="margin-bottom:10px;">{{ posts.deaths }}</p>
            </div>
            <div class="cases recovered" style="box-shadow: 3px 3px 2px grey;">
                <h4 style="margin-bottom:10px;">Recovered</h4>
                <p style="margin-bottom:10px;"> {{ posts.recovered }}</p>
            </div>
            <div class="cases active" style="box-shadow: 3px 3px 2px grey;">
                <h4 style="margin-bottom:10px;">Active</h4>
                <p style="margin-bottom:10px;">{{ posts.active }}</p>
            </div>
        </div>
        <br>
        <br>
        <p style="color: blanchedalmond;">{{ post.states.1 }}</p>

        <div class="jumbotron" style="background-color: black;">    <!-- background-color: #332e31; -->
            <div class="container">
                <div class="table-responsive">
                    <table class="table table-dark table-hover" style='height:700px; overflow:scroll;'>
                        <thead> 
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">States</th>
                                <th scope="col">Confirmed cases</th>
                                <th scope="col">Recovered</th>
                                <th scope="col">Deceased</th>
                                <th scope="col">Active cases</th>
                            </tr>
                        </thead>
                        <tbody>

                           
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 1 }} </td>
                                <td>{{ posts.states1.1 }}</td>
                                <td>{{ posts.confirmed1.1}}</td>
                                <td>{{ posts.recovered1.1 }}</td>
                                <td>{{ posts.deaths1.1 }}</td>
                                <td>{{ posts.active1.1 }}</td>
                            </tr>
                          
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 2 }} </td>
                                <td>{{ posts.states1.2 }}</td>
                                <td>{{ posts.confirmed1.2}}</td>
                                <td>{{ posts.recovered1.2 }}</td>
                                <td>{{ posts.deaths1.2 }}</td>
                                <td>{{ posts.active1.2 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 3 }} </td>
                                <td>{{ posts.states1.3 }}</td>
                                <td>{{ posts.confirmed1.3}}</td>
                                <td>{{ posts.recovered1.3 }}</td>
                                <td>{{ posts.deaths1.3 }}</td>
                                <td>{{ posts.active1.3 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 4 }} </td>
                                <td>{{ posts.states1.4 }}</td>
                                <td>{{ posts.confirmed1.4}}</td>
                                <td>{{ posts.recovered1.4 }}</td>
                                <td>{{ posts.deaths1.4 }}</td>
                                <td>{{ posts.active1.4 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 5 }} </td>
                                <td>{{ posts.states1.5 }}</td>
                                <td>{{ posts.confirmed1.5}}</td>
                                <td>{{ posts.recovered1.5 }}</td>
                                <td>{{ posts.deaths1.5 }}</td>
                                <td>{{ posts.active1.5 }}</td>
                            </tr>

                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 6 }} </td>
                                <td>{{ posts.states1.6 }}</td>
                                <td>{{ posts.confirmed1.6}}</td>
                                <td>{{ posts.recovered1.6 }}</td>
                                <td>{{ posts.deaths1.6 }}</td>
                                <td>{{ posts.active1.6 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 7 }} </td>
                                <td>{{ posts.states1.7 }}</td>
                                <td>{{ posts.confirmed1.7}}</td>
                                <td>{{ posts.recovered1.7 }}</td>
                                <td>{{ posts.deaths1.7 }}</td>
                                <td>{{ posts.active1.7 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 8 }} </td>
                                <td>{{ posts.states1.8 }}</td>
                                <td>{{ posts.confirmed1.8}}</td>
                                <td>{{ posts.recovered1.8 }}</td>
                                <td>{{ posts.deaths1.8 }}</td>
                                <td>{{ posts.active1.8 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 9 }} </td>
                                <td>{{ posts.states1.9 }}</td>
                                <td>{{ posts.confirmed1.9}}</td>
                                <td>{{ posts.recovered1.9 }}</td>
                                <td>{{ posts.deaths1.9}}</td>
                                <td>{{ posts.active1.9 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 10 }} </td>
                                <td>{{ posts.states1.10 }}</td>
                                <td>{{ posts.confirmed1.10}}</td>
                                <td>{{ posts.recovered1.10 }}</td>
                                <td>{{ posts.deaths1.10 }}</td>
                                <td>{{ posts.active1.10}}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 11 }} </td>
                                <td>{{ posts.states1.11 }}</td>
                                <td>{{ posts.confirmed1.11}}</td>
                                <td>{{ posts.recovered1.11 }}</td>
                                <td>{{ posts.deaths1.11 }}</td>
                                <td>{{ posts.active1.11}}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 12 }} </td>
                                <td>{{ posts.states1.12 }}</td>
                                <td>{{ posts.confirmed1.12}}</td>
                                <td>{{ posts.recovered1.12 }}</td>
                                <td>{{ posts.deaths1.12 }}</td>
                                <td>{{ posts.active1.12 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 13 }} </td>
                                <td>{{ posts.states1.13 }}</td>
                                <td>{{ posts.confirmed1.13}}</td>
                                <td>{{ posts.recovered1.13 }}</td>
                                <td>{{ posts.deaths1.13 }}</td>
                                <td>{{ posts.active1.13 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 14 }} </td>
                                <td>{{ posts.states1.14 }}</td>
                                <td>{{ posts.confirmed1.14}}</td>
                                <td>{{ posts.recovered1.14 }}</td>
                                <td>{{ posts.deaths1.14 }}</td>
                                <td>{{ posts.active1.14 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 15 }} </td>
                                <td>{{ posts.states1.15 }}</td>
                                <td>{{ posts.confirmed1.15}}</td>
                                <td>{{ posts.recovered1.15 }}</td>
                                <td>{{ posts.deaths1.15 }}</td>
                                <td>{{ posts.active1.15 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 16 }} </td>
                                <td>{{ posts.states1.16 }}</td>
                                <td>{{ posts.confirmed1.16}}</td>
                                <td>{{ posts.recovered1.16 }}</td>
                                <td>{{ posts.deaths1.16 }}</td>
                                <td>{{ posts.active1.16 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 17 }} </td>
                                <td>{{ posts.states1.17 }}</td>
                                <td>{{ posts.confirmed1.17}}</td>
                                <td>{{ posts.recovered1.17 }}</td>
                                <td>{{ posts.deaths1.17 }}</td>
                                <td>{{ posts.active1.17 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 18 }} </td>
                                <td>{{ posts.states1.18 }}</td>
                                <td>{{ posts.confirmed1.18}}</td>
                                <td>{{ posts.recovered1.18 }}</td>
                                <td>{{ posts.deaths1.18 }}</td>
                                <td>{{ posts.active1.18 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 19 }} </td>
                                <td>{{ posts.states1.19 }}</td>
                                <td>{{ posts.confirmed1.19}}</td>
                                <td>{{ posts.recovered1.19 }}</td>
                                <td>{{ posts.deaths1.19 }}</td>
                                <td>{{ posts.active1.19 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 20 }} </td>
                                <td>{{ posts.states1.20}}</td>
                                <td>{{ posts.confirmed1.20}}</td>
                                <td>{{ posts.recovered1.20 }}</td>
                                <td>{{ posts.deaths1.20 }}</td>
                                <td>{{ posts.active1.20}}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 21 }} </td>
                                <td>{{ posts.states1.21 }}</td>
                                <td>{{ posts.confirmed1.21}}</td>
                                <td>{{ posts.recovered1.21 }}</td>
                                <td>{{ posts.deaths1.21 }}</td>
                                <td>{{ posts.active1.21 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 22 }} </td>
                                <td>{{ posts.states1.22 }}</td>
                                <td>{{ posts.confirmed1.22}}</td>
                                <td>{{ posts.recovered1.22 }}</td>
                                <td>{{ posts.deaths1.22 }}</td>
                                <td>{{ posts.active1.22 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 23 }} </td>
                                <td>{{ posts.states1.23 }}</td>
                                <td>{{ posts.confirmed1.23}}</td>
                                <td>{{ posts.recovered1.23 }}</td>
                                <td>{{ posts.deaths1.23 }}</td>
                                <td>{{ posts.active1.23 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 24 }} </td>
                                <td>{{ posts.states1.24 }}</td>
                                <td>{{ posts.confirmed1.24}}</td>
                                <td>{{ posts.recovered1.24 }}</td>
                                <td>{{ posts.deaths1.24 }}</td>
                                <td>{{ posts.active1.24 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 25 }} </td>
                                <td>{{ posts.states1.25 }}</td>
                                <td>{{ posts.confirmed1.25}}</td>
                                <td>{{ posts.recovered1.25 }}</td>
                                <td>{{ posts.deaths1.25 }}</td>
                                <td>{{ posts.active1.25 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 26 }} </td>
                                <td>{{ posts.states1.26 }}</td>
                                <td>{{ posts.confirmed1.26}}</td>
                                <td>{{ posts.recovered1.26 }}</td>
                                <td>{{ posts.deaths1.26 }}</td>
                                <td>{{ posts.active1.26 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 27 }} </td>
                                <td>{{ posts.states1.27 }}</td>
                                <td>{{ posts.confirmed1.27}}</td>
                                <td>{{ posts.recovered1.27 }}</td>
                                <td>{{ posts.deaths1.27 }}</td>
                                <td>{{ posts.active1.27 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 28 }} </td>
                                <td>{{ posts.states1.28 }}</td>
                                <td>{{ posts.confirmed1.28}}</td>
                                <td>{{ posts.recovered1.28 }}</td>
                                <td>{{ posts.deaths1.28 }}</td>
                                <td>{{ posts.active1.28 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 29 }} </td>
                                <td>{{ posts.states1.29 }}</td>
                                <td>{{ posts.confirmed1.29}}</td>
                                <td>{{ posts.recovered1.29 }}</td>
                                <td>{{ posts.deaths1.29 }}</td>
                                <td>{{ posts.active1.29 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 30 }} </td>
                                <td>{{ posts.states1.30 }}</td>
                                <td>{{ posts.confirmed1.30}}</td>
                                <td>{{ posts.recovered1.30 }}</td>
                                <td>{{ posts.deaths1.30 }}</td>
                                <td>{{ posts.active1.30 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 31 }} </td>
                                <td>{{ posts.states1.31 }}</td>
                                <td>{{ posts.confirmed1.31}}</td>
                                <td>{{ posts.recovered1.31 }}</td>
                                <td>{{ posts.deaths1.31 }}</td>
                                <td>{{ posts.active1.31 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 32 }} </td>
                                <td>{{ posts.states1.32 }}</td>
                                <td>{{ posts.confirmed1.32}}</td>
                                <td>{{ posts.recovered1.32 }}</td>
                                <td>{{ posts.deaths1.32 }}</td>
                                <td>{{ posts.active1.32 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 33 }} </td>
                                <td>{{ posts.states1.33 }}</td>
                                <td>{{ posts.confirmed1.33}}</td>
                                <td>{{ posts.recovered1.33 }}</td>
                                <td>{{ posts.deaths1.33 }}</td>
                                <td>{{ posts.active1.33 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 34 }} </td>
                                <td>{{ posts.states1.34}}</td>
                                <td>{{ posts.confirmed1.34}}</td>
                                <td>{{ posts.recovered1.34}}</td>
                                <td>{{ posts.deaths1.34}}</td>
                                <td>{{ posts.active1.34}}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 35 }} </td>
                                <td>{{ posts.states1.35 }}</td>
                                <td>{{ posts.confirmed1.35}}</td>
                                <td>{{ posts.recovered1.35 }}</td>
                                <td>{{ posts.deaths1.35 }}</td>
                                <td>{{ posts.active1.35 }}</td>
                            </tr>
                            <tr>
                                <!-- Can use forloop.counter -->
                                <td>{{ 36 }} </td>
                                <td>{{ posts.states1.36 }}</td>
                                <td>{{ posts.confirmed1.36}}</td>
                                <td>{{ posts.recovered1.36 }}</td>
                                <td>{{ posts.deaths1.36 }}</td>
                                <td>{{ posts.active1.36 }}</td>
                            </tr>
                            <!-- <tr>
                                <td>{{ i }} </td>
                                <td>{{ posts.states1.37 }}</td>
                                <td>{{ posts.confirmed1.37}}</td>
                                <td>{{ posts.recovered1.37 }}</td>
                                <td>{{ posts.deaths1.37 }}</td>
                                <td>{{ posts.active1.37 }}</td>
                            </tr> -->
                            <!-- <tr>
                                
                                <td>{{ i }} </td>
                                <td>{{ posts.states1.38 }}</td>
                                <td>{{ posts.confirmed1.38}}</td>
                                <td>{{ posts.recovered1.38 }}</td>
                                <td>{{ posts.deaths1.38 }}</td>
                                <td>{{ posts.active1.38 }}</td>
                            </tr> -->


                        </tbody>
                    </table>
                </div>
            </div>
        </div>






    <div class="container">
        <div class="rowa1">
            <div class="chart1" style="width: 100%; height: 450px;" id="lineplot1">
                <script>
                    var graphs1 = {{ plot1 | safe}};
                    Plotly.plot('lineplot1', graphs1, {},);

                </script>
            </div>
            <br>
            <div class="chart2" style="width: 100%; height: 450px;" id="lineplot2">
                <script>
                    var graphs2 = {{ plot2 | safe}};
                    Plotly.plot('lineplot2', graphs2, {},);

                </script>
            </div>
        </div>
    </div>

        <br>
    <div class="container">
        <div class="row2 ">
            <div class="chart3" style="width: 100%; height: 600px;" id="pieplot1">
                <script>
                    var graphs3 = {{ plot3 | safe}};
                    Plotly.plot('pieplot1', graphs3, {},);

                </script>
            </div>
            <br>
            <div class="chart4" style="width: 100%; height: 676px;" id="pieplot2">
                <script>
                    var graphs4 = {{ plot4 | safe}};
                    Plotly.plot('pieplot2', graphs4, {},);
                </script>
            </div>
        </div>

        <br>

        <div class="chart5" style="width: max-width; height: 700px;" id="barplot1">
            <script>
                var graphs5 = {{ plot5 | safe}};
                Plotly.plot('barplot1', graphs5, {},);

            </script>
        </div>
        <br>

    </div>

    </div>




    <script>
        const menu = document.querySelector("#mobile-menu");
        const menuLinks = document.querySelector(".navbar_menu");
        const navLogo = document.querySelector("#navbar_logo");
        const mobileMenu = () => {
          menu.classList.toggle("is-active");
          menuLinks.classList.toggle("active");
        };
        menu.addEventListener("click", mobileMenu);
      </script>
</body>

</html>