<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid updates!</title>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet"/>
  </head>

  <body>
    <header>
      <div class="menu-bar">
        <div class="logo">
            <img src="{% static 'css/logo.jpg' %}" alt="#" style="opacity: 0.9;">
        </div>

        <div class="list" id="li">
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'data' %}">Data</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
          </ul>
        </div>

        <nav class="navbar">
          <div class="navbar_container">
            <div class="navbar_toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
              <li class="navbar_item">
                  <a href="{% url 'index' %}" class="navbar_links" id="home-page">Home</a>
              </li>
              <li class="navbar_item">
                <a href="{% url 'data' %}" class="navbar_links" id="data-page">Data</a>
              </li>
              <li class="navbar_item">
                <a href="{% url 'about' %}" class="navbar_links" id="about-page">About Us</a>
                  
              </li>
              <li class="navbar_item">
                <a href="{% url 'contact' %}" class="navbar_links" id="contact-page">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div id="particles-js"></div>
      <div class="content">
        <h1>The Corona Virus Outbreak</h1>
        <h2>Get the Latest Updates here</h2>
      </div>
      <div id="particles"></div>
    </header>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS.load('particles-js', "{% static 'css/particles.json'%}", function () {
              console.log('particles.json loaded...');
          });
    </script>
    <script>
      const menu = document.querySelector("#mobile-menu");
      const menuLinks = document.querySelector(".navbar_menu");
      const navLogo = document.querySelector("#navbar_logo");
      const mobileMenu = () => {
        menu.classList.toggle("is-active");
        menuLinks.classList.toggle("active");
      };
      menu.addEventListener("click", mobileMenu);
    </script>
  </body>
</html>
